<form class="form-inline">
	<div class="form-group">
		<label for="VideoURL">Video URL</laebl>
		<input type="text" class"form-control" id="VideoURl" placeholder="http://youtube.com/">
	</div>
	<div class="form-group">
		<label for="Comment">comment</label>
		<input type="comment" class="form-control" id="howdy!" placeholder="comment">
	</div>
	<button type="submit" class="btn btn-default">Tweet to #nowplaying</button>
</form>