<div class"=row">
	<div class="col-md-1"></div>
	<div class="col-md-11">
		<h1>#NowPlaying in Miami</h1>
		<p>This page shows #nowplaying tweets in Miami that contain a youtube link. <br>It also allows you to post a #nowplaying tweet with a YouTube link.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-8">
		<%= render 'form' %>
	</div>
	<div class="col-md-3">
	</div>
<div>

<div class="row">
	<div class="col-md-4">
	</div>
<div>

<div class="row">
	<div class="col-md-7 col-md-offset-2">
	</div>
</div>
