// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tweet-area {
	
	li.tweet {
		border: 1px solid gray;
		border-radius: 5px;
		list-style: none;
		margin: 2rem auto;
		padding: 1rem;
		max-width: 800px;
		clear: both;

		h3 {
			margin: 1rem 0;
		}
		
		iframe {
			float: left;
			width: 30vw;
			height: 20vw;			
			background-color: black;
			margin-right: 3rem;
		}
		//inizio aggiunta 
		
		/* clearfix */
		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}
}
